section {
    margin: 1rem auto;
    width: 90%;
    max-width: 40rem;
    text-align: center;
    background-color: white;
    padding: 1rem;
}

button {
    font: inherit;
    cursor: pointer;
    background: #76ba99;
    border: none;
    color: white;
    padding: 0.75rem 2rem;
}

button:focus {
    outline: none;
}

button:hover,
button:active {
    background-color: #ffdcae;
    border-color: #460897;
}

.search-bar {
    width: 90%;
    padding: 15px;
    border-radius: 20px;
}

.start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 149px;
    height: 149px;
    border-radius: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}